<div class="modal-header">
  <h4 class="titleHead" id="modal-basic-title">Adicionar Usuario</h4>
  <button type="button" class="close" aria-label="Close" (click)="closeModal()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="form-group">
    <div class="input-group mx-auto">
      <div class="mx-1">
        <label>Nome</label>
        <input
          id="name"
          class="form-control"
          placeholder="Antonio"
          [(ngModel)]="person.name"
        />
      </div>
      <div class="mx-1">
        <label>E-mail</label>
        <input
          id="email"
          class="form-control"
          placeholder="antonio@gmail.com"
          [(ngModel)]="person.email"
        />
      </div>
      <div class="mx-5">
        <label>Saldo Inicial</label>
        <input
          id="balance"
          class="form-control"
          [(ngModel)]="person.balance"
          disabled
        />
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="saveNewClients()">
    Save
  </button>
</div>
