<div class="modal-header">
  <h4 class="titleWithdraw" id="modal-basic-title" let name = name>Sacar da conta de: </h4><p class="user">{{name}}</p>
  <button type="button" class="close" aria-label="Close" (click)="closeWithDrawOnClient()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body text-center">
  <label class="entBalance">Saldo atual: </label>
  <p class="balanceToday" let balance = balance>R$ {{balance}}</p>
</div>
<div class="form-group">
  <div class="input-group text-center">
    <div class="mx-auto mb-3">
      <label >Sacar: </label>
      <input
        id="name"
        type="number"
        class="form-control"
        [(ngModel)]="withdraw"
      />
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="closeWithDrawOnClient()">
    Cancelar
  </button>
  <button type="button" class="btn btn-success" (click)="withDrawOnClient(name, balance, email, withdraw)">
    Sacar
  </button>
</div>
  
